absl-py==1.4.0
accelerate==0.21.0
aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.6.0
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.7.2
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==22.2.0
autoflake==2.2.1
autogen==1.0.16
autopep8==2.0.4
backcall==0.2.0
backports.tarfile==1.1.0
beautifulsoup4==4.11.2
bidict==0.23.0
bitsandbytes==0.42.0
bleach==6.0.0
blinker==1.6.2
blis==0.7.9
bs4==0.0.1
cachetools==5.3.1
cairocffi==1.6.1
CairoSVG==2.7.1
catalogue==2.0.8
certifi==2023.7.22
cffi==1.15.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.1.0
chex==0.1.82
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.2
confection==0.1.0
contourpy==1.1.0
coverage==7.3.1
cryptography==41.0.3
cssselect2==0.7.0
cvxopt==1.3.1
cycler==0.11.0
cymem==2.0.7
dataclasses-json==0.6.4
debugpy==1.6.6
decorator==5.1.1
defopt==6.4.0
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.7
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
Django==4.2.4
dm-haiku==0.0.10
dm-tree==0.1.8
dnspython==2.4.2
docker==7.0.0
docopt==0.6.2
docutils==0.20.1
docx==0.2.4
docx2txt==0.8
e==1.4.5
einops==0.7.0
einops-exts==0.0.4
emoji==2.10.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
etils==1.4.1
executing==1.2.0
Faker==23.2.1
fastapi==0.109.2
fastjsonschema==2.16.3
ffmpy==0.3.2
filelock==3.13.1
FLAML==2.1.2
Flask==2.3.2
Flask-Cors==4.0.0
Flask-SocketIO==5.3.6
flatbuffers==23.5.26
flax==0.7.4
fonttools==4.42.0
fpdf2==2.7.5
fqdn==1.5.1
freetype-py==2.4.0
frozenlist==1.4.1
fsspec==2023.10.0
functorch==2.0.0
future==0.18.3
fvalues==0.0.4
gast==0.4.0
gensim==4.3.2
gguf==0.6.0
gitdb==4.0.10
GitPython==3.1.36
glove-py==0.2.3
google==3.0.0
google-ai-generativelanguage==0.4.0
google-api-core==2.17.1
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-generativeai==0.3.2
google-pasta==0.2.0
google-search-results==2.4.2
googleapis-common-protos==1.62.0
gorilla==0.4.0
gradio==4.16.0
gradio_client==0.8.1
grpcio==1.62.0
grpcio-status==1.62.0
gspread==5.12.3
gunicorn==21.2.0
h11==0.14.0
h5py==3.9.0
hpsklearn==0.1.0
html5==0.0.9
html5lib==1.1
httpcore==0.17.3
httpx==0.24.0
huggingface-hub==0.20.3
hyperopt==0.2.7
hypothesis==6.84.3
identify==2.5.29
idna==3.4
importlib-resources==6.0.1
importlib_metadata==7.1.0
iniconfig==2.0.0
install==1.3.5
ipykernel==6.21.3
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.1.2
ivy @ file:///Users/aditygrg/ivy
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jax==0.4.14
jaxlib==0.4.14
jedi==0.18.2
Jinja2==3.1.2
jmp==0.0.4
joblib==1.3.2
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.4.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
keras==2.15.0
keyboard==0.13.5
keyring==25.1.0
kiwisolver==1.4.4
langchain==0.0.354
langchain-community==0.0.20
langchain-core==0.1.22
langchain-google-genai==0.0.9
langchain-openai==0.0.6
langchain-visualizer==0.0.33
langchainhub==0.1.14
langcodes==3.3.0
langsmith==0.0.87
Levenshtein==0.25.0
libclang==16.0.6
lizard==1.17.10
llama_cpp_python==0.2.43
# Editable install with no version control (llava==1.2.2.post1)
-e /Volumes/Backup Plus/LLM_Automator_Mac_Windows_Aditya/LLaVA
lxml==4.9.3
Markdown==3.4.4
markdown-it-py==3.0.0
markdown2==2.4.13
MarkupSafe==2.1.2
marshmallow==3.20.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdurl==0.1.2
merge-args==0.1.5
mistune==2.0.5
ml-dtypes==0.2.0
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.5
murmurhash==1.0.9
mypy-extensions==1.0.0
namex==0.0.7
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.1
nh3==0.2.17
nltk==3.8.1
nodeenv==1.8.0
nose==1.3.7
notebook==6.5.3
notebook_shim==0.2.2
numerizer==0.2.3
numpy==1.24.4
nvidia-ml-py==12.535.108
oauthlib==3.2.2
openai==1.12.0
opencv-python==4.8.0.76
opt-einsum==3.3.0
optax==0.1.7
orbax-checkpoint==0.3.5
orjson==3.10.0
ought-ice==0.5.0
packaging==23.2
paddle-bfloat==0.1.7
paddlepaddle==2.5.1
pandas==2.1.0
pandocfilters==1.5.0
parso==0.8.3
pathy==0.10.2
peft==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
pikepdf==8.11.2
pillow==10.2.0
pipdeptree==2.14.0
pipenv==2023.12.1
pipreqs==0.4.13
pkginfo==1.10.0
platformdirs==4.2.0
pluggy==1.3.0
pockets==0.9.1
pre-commit==3.4.0
preshed==3.0.8
prometheus-client==0.16.0
promise==2.3
prompt-toolkit==3.0.36
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==16.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyautogen==0.2.26
pybind11==2.11.1
pycairo==1.24.0
pycodestyle==2.11.1
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
pydeck==0.9.0
pydot==2.0.0
PyDriller==2.5.1
pydub==0.25.1
pyflakes==3.1.0
PyGithub==1.59.1
Pygments==2.14.0
PyJWT==2.8.0
pymongo==4.5.0
PyMuPDF==1.23.3
PyMuPDFb==1.23.3
PyNaCl==1.5.0
pyobjc==10.1
pyobjc-core==10.1
pyobjc-framework-Accessibility==10.1
pyobjc-framework-Accounts==10.1
pyobjc-framework-AddressBook==10.1
pyobjc-framework-AdServices==10.1
pyobjc-framework-AdSupport==10.1
pyobjc-framework-AppleScriptKit==10.1
pyobjc-framework-AppleScriptObjC==10.1
pyobjc-framework-ApplicationServices==10.1
pyobjc-framework-AppTrackingTransparency==10.1
pyobjc-framework-AudioVideoBridging==10.1
pyobjc-framework-AuthenticationServices==10.1
pyobjc-framework-AutomaticAssessmentConfiguration==10.1
pyobjc-framework-Automator==10.1
pyobjc-framework-AVFoundation==10.1
pyobjc-framework-AVKit==10.1
pyobjc-framework-AVRouting==10.1
pyobjc-framework-BackgroundAssets==10.1
pyobjc-framework-BusinessChat==10.1
pyobjc-framework-CalendarStore==10.1
pyobjc-framework-CallKit==10.1
pyobjc-framework-CFNetwork==10.1
pyobjc-framework-ClassKit==10.1
pyobjc-framework-CloudKit==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-Collaboration==10.1
pyobjc-framework-ColorSync==10.1
pyobjc-framework-Contacts==10.1
pyobjc-framework-ContactsUI==10.1
pyobjc-framework-CoreAudio==10.1
pyobjc-framework-CoreAudioKit==10.1
pyobjc-framework-CoreBluetooth==10.1
pyobjc-framework-CoreData==10.1
pyobjc-framework-CoreHaptics==10.1
pyobjc-framework-CoreLocation==10.1
pyobjc-framework-CoreMedia==10.1
pyobjc-framework-CoreMediaIO==10.1
pyobjc-framework-CoreMIDI==10.1
pyobjc-framework-CoreML==10.1
pyobjc-framework-CoreMotion==10.1
pyobjc-framework-CoreServices==10.1
pyobjc-framework-CoreSpotlight==10.1
pyobjc-framework-CoreText==10.1
pyobjc-framework-CoreWLAN==10.1
pyobjc-framework-CryptoTokenKit==10.1
pyobjc-framework-DataDetection==10.1
pyobjc-framework-DeviceCheck==10.1
pyobjc-framework-DictionaryServices==10.1
pyobjc-framework-DiscRecording==10.1
pyobjc-framework-DiscRecordingUI==10.1
pyobjc-framework-DiskArbitration==10.1
pyobjc-framework-DVDPlayback==10.1
pyobjc-framework-EventKit==10.1
pyobjc-framework-ExceptionHandling==10.1
pyobjc-framework-ExecutionPolicy==10.1
pyobjc-framework-ExtensionKit==10.1
pyobjc-framework-ExternalAccessory==10.1
pyobjc-framework-FileProvider==10.1
pyobjc-framework-FileProviderUI==10.1
pyobjc-framework-FinderSync==10.1
pyobjc-framework-FSEvents==10.1
pyobjc-framework-GameCenter==10.1
pyobjc-framework-GameController==10.1
pyobjc-framework-GameKit==10.1
pyobjc-framework-GameplayKit==10.1
pyobjc-framework-HealthKit==10.1
pyobjc-framework-ImageCaptureCore==10.1
pyobjc-framework-InputMethodKit==10.1
pyobjc-framework-InstallerPlugins==10.1
pyobjc-framework-InstantMessage==10.1
pyobjc-framework-Intents==10.1
pyobjc-framework-IntentsUI==10.1
pyobjc-framework-IOBluetooth==10.1
pyobjc-framework-IOBluetoothUI==10.1
pyobjc-framework-IOSurface==10.1
pyobjc-framework-iTunesLibrary==10.1
pyobjc-framework-KernelManagement==10.1
pyobjc-framework-LatentSemanticMapping==10.1
pyobjc-framework-LaunchServices==10.1
pyobjc-framework-libdispatch==10.1
pyobjc-framework-libxpc==10.1
pyobjc-framework-LinkPresentation==10.1
pyobjc-framework-LocalAuthentication==10.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.1
pyobjc-framework-MailKit==10.1
pyobjc-framework-MapKit==10.1
pyobjc-framework-MediaAccessibility==10.1
pyobjc-framework-MediaLibrary==10.1
pyobjc-framework-MediaPlayer==10.1
pyobjc-framework-MediaToolbox==10.1
pyobjc-framework-Metal==10.1
pyobjc-framework-MetalFX==10.1
pyobjc-framework-MetalKit==10.1
pyobjc-framework-MetalPerformanceShaders==10.1
pyobjc-framework-MetalPerformanceShadersGraph==10.1
pyobjc-framework-MetricKit==10.1
pyobjc-framework-MLCompute==10.1
pyobjc-framework-ModelIO==10.1
pyobjc-framework-MultipeerConnectivity==10.1
pyobjc-framework-NaturalLanguage==10.1
pyobjc-framework-NetFS==10.1
pyobjc-framework-Network==10.1
pyobjc-framework-NetworkExtension==10.1
pyobjc-framework-NotificationCenter==10.1
pyobjc-framework-OpenDirectory==10.1
pyobjc-framework-OSAKit==10.1
pyobjc-framework-OSLog==10.1
pyobjc-framework-PassKit==10.1
pyobjc-framework-PencilKit==10.1
pyobjc-framework-PHASE==10.1
pyobjc-framework-Photos==10.1
pyobjc-framework-PhotosUI==10.1
pyobjc-framework-PreferencePanes==10.1
pyobjc-framework-PushKit==10.1
pyobjc-framework-Quartz==10.1
pyobjc-framework-QuickLookThumbnailing==10.1
pyobjc-framework-ReplayKit==10.1
pyobjc-framework-SafariServices==10.1
pyobjc-framework-SafetyKit==10.1
pyobjc-framework-SceneKit==10.1
pyobjc-framework-ScreenCaptureKit==10.1
pyobjc-framework-ScreenSaver==10.1
pyobjc-framework-ScreenTime==10.1
pyobjc-framework-ScriptingBridge==10.1
pyobjc-framework-SearchKit==10.1
pyobjc-framework-Security==10.1
pyobjc-framework-SecurityFoundation==10.1
pyobjc-framework-SecurityInterface==10.1
pyobjc-framework-ServiceManagement==10.1
pyobjc-framework-SharedWithYou==10.1
pyobjc-framework-SharedWithYouCore==10.1
pyobjc-framework-ShazamKit==10.1
pyobjc-framework-Social==10.1
pyobjc-framework-SoundAnalysis==10.1
pyobjc-framework-Speech==10.1
pyobjc-framework-SpriteKit==10.1
pyobjc-framework-StoreKit==10.1
pyobjc-framework-SyncServices==10.1
pyobjc-framework-SystemConfiguration==10.1
pyobjc-framework-SystemExtensions==10.1
pyobjc-framework-ThreadNetwork==10.1
pyobjc-framework-UniformTypeIdentifiers==10.1
pyobjc-framework-UserNotifications==10.1
pyobjc-framework-UserNotificationsUI==10.1
pyobjc-framework-VideoSubscriberAccount==10.1
pyobjc-framework-VideoToolbox==10.1
pyobjc-framework-Virtualization==10.1
pyobjc-framework-Vision==10.1
pyobjc-framework-WebKit==10.1
pyparsing==3.0.9
PyPDF2==3.0.1
pypng==0.20220715.0
PyQRCode==1.2.1
pyrsistent==0.19.3
pyspark==3.4.1
pytest==7.4.2
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.1
python-engineio==4.9.0
python-json-logger==2.0.7
python-Levenshtein==0.25.0
python-multipart==0.0.9
python-socketio==5.11.1
python-ulid==2.2.0
pytz==2023.3.post1
pyvis==0.3.2
PyYAML==6.0
pyzbar==0.1.9
pyzmq==25.0.1
qrdet==2.4
qreader==3.12
qrtools==0.0.2
qtconsole==5.4.1
QtPy==2.3.0
quadrilateral-fitter==1.8
questionary==2.0.1
rapidfuzz==3.6.1
readme_renderer==43.0
redis==5.0.0
regex==2023.12.25
replicate==0.25.2
reportlab==4.0.4
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.5.2
rlPyCairo==0.3.0
rouge-metric==1.0.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
ruff==0.3.5
safetensors==0.4.2
scikit-learn==1.2.2
scipy==1.11.1
seaborn==0.13.0
semantic-version==2.10.0
Send2Trash==1.8.0
sentencepiece==0.1.99
shapely==2.0.2
shellingham==1.5.4
shortuuid==1.0.13
simple-websocket==1.0.0
six==1.16.0
skunk==1.2.0
smart-open==6.3.0
smmap==5.0.0
snakeviz==2.2.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.5.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sphinxcontrib-napoleon==0.7
SQLAlchemy==2.0.26
sqlparse==0.4.4
srsly==2.4.6
stack-data==0.6.2
starlette==0.36.3
streamlit==1.33.0
structlog==24.1.0
svglib==1.5.1
svgwrite==1.4.3
sympy==1.12
tabulate==0.9.0
tbomb==2.1.2
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.1
tensorflow==2.15.0
tensorflow-datasets==4.9.4
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.15.0
tensorflow-metadata==1.14.0
tensorflow-probability==0.21.0
tensorstore==0.1.43
termcolor==2.3.0
terminado==0.17.1
thefuzz==0.22.1
thinc==8.1.10
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tiktoken==0.6.0
timm==0.6.13
tinycss2==1.2.1
tokenizers==0.15.1
toml==0.10.2
tomlkit==0.12.0
toolz==0.12.0
torch==2.1.2
torch-scatter==2.1.1
torchvision==0.16.2
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.37.2
twine==5.0.0
typer==0.9.0
types-pytz==2023.3.0.1
types-requests==2.31.0.20240125
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
ultralytics==8.0.200
uri-template==1.2.0
urllib3==1.26.18
uvicorn==0.27.1
virtualenv==20.25.0
wasabi==1.1.2
wavedrom==2.0.3.post3
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
websockets==11.0.3
Werkzeug==2.3.6
widgetsnbextension==4.0.5
wrapt==1.14.1
wsproto==1.2.0
yarg==0.1.9
yarl==1.9.4
zipp==3.16.2
