/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* #logo {
  size: 2rem;
  background-image: url(../public/careersynclogo.svg);
} */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
:mera{
  font-family: 'Oswald', sans-serif;
}

.body{
  background-color: rgb(246, 248, 254);
}

#logoelement1{
  width: 100px;
  height: 120px;
  margin: 0px 0px 0px 5px;
}

.first-big-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.codemera{
  margin-left: -10px;
  font-size: 2rem;
  font-weight: bold;
}

.widthbox{
  font-size: 2rem;
}

.logoclass1{
  display: inline-flex;
  align-items: center;
}

.loginbutton{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(246, 248, 254);
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

#logbutton{
  background-color: black;
  color: white;
  padding: 10px 20px 10px 20px;
}

.loginclass{
  display: inline-flex;
}

.gif-and-text{
  margin: 70px 0px 70px 0px;
  display: flex;
  flex-wrap: wrap;
}

.text-1024{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
}

#text-1{
  font-size: 4rem;
}

#line2making{
  /* background-color: red; */
  margin-top: -120px;
  margin-left: 43%;
  border-left: 1px solid black;
  height: 120px;
}

#line3making{
  margin-left: 30%;
  border-left: 1px solid black;
  height: 140px;
}

.bigbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -100px 20px -60px 20px;
}

.text2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  font-size: 4rem;
  margin: 0px 0px 0px 50px;
}

#text2-1{
  margin-right: -30px;
}

#text2-2{
  align-self: flex-end;
  margin-right: -50px;
}

#text2-3{
  align-self: flex-end;
  margin-right: -100px;
}

#setimage3{
  width: 40rem;
  height: 40rem;
}

#line4making{
  margin-left: 40%;
  border-left: 1px solid black;
  height: 100px;
}

#line5making{
  margin-left: 50%;
  border-left: 1px solid black;
  height: 100px;
}

.bigbox2{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* margin: -100px 20px 0px 20px; */
  margin-top: -100px;
  margin-bottom: -100px;
}

#setimage4{
  width: 40rem;
  height: 40rem;
  margin-left: 50px;
}

#line6making{
  margin-left: 75%;
  border-left: 1px solid black;
  height: 100px;
}

.bigtext{
  font-size: 6rem;
  display: flex;
  justify-content: center;
  margin: 150px 0px 150px 0px;
}

.textend2{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin: 200px 0px 0px 0px;
  padding-bottom: 50px;
}