.box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
}

.box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
}

.compo{
     min-width: 15rem;
     border-radius: 0.5%;
     box-shadow: rgba(0,0,0,0.16) 0px 1px 4px 2px;
     border-radius: 5%;
     background-color: rgb(239,239,239);
}

button:hover{
        cursor: pointer;
        transform: scale(1.2);
}